html {
  background-image: url(../images/shanepanter.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body {
  padding: 50px;
  font: 14px "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

h1 {
  background-color: lightcoral;
  display: inline-block;
}

h2 {
  background-color: lightgreen;
  display: inline-block;
}

p {
  background-color: aquamarine;
  width: 250px;
}

tr {
  border: 1px solid;
  padding: 50px;
}

table {
  border: none;
  border-collapse: collapse;
  background-color: aqua;
}

a {
  color: #00B7FF;
}